<div class="uk-position-top">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Home</a></li>
                <li><a href="#"><span>Places</span></a></li>
                <li><a href="#"><span>Blog</span></a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="#"><span>Login</span></a></li>
                <li><a href="#"><span>Register</span></a></li>
            </ul>
        </div>
    </nav>
</div>