
<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
     data-src="../../../../assets/img/2.jpg"
     data-sizes="(min-width: 100px) 1000px, 100vw" uk-img>
    <h1>تونس الخضراء</h1>
</div>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta voluptatibus atque beatae optio, blanditiis labore enim nulla. Maxime officiis cumque molestias unde, a, deserunt quasi esse excepturi aperiam veritatis exercitationem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eos possimus quia enim culpa velit, nam voluptas ducimus consequuntur, in debitis natus! Repellendus amet corrupti molestiae officia, architecto perferendis consequatur?
</p>